<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist>
  <dict>
    <key>CFBundleExecutable</key>
    <string>${EXECUTABLE_NAME}</string>
    <key>CFBundleIconFile</key>
    <string></string>
    <key>CFBundleIdentifier</key>
    <string>com.MichaelOurednik.Argotlunar</string>
    <key>CFBundleName</key>
    <string>Argotlunar</string>
    <key>CFBundlePackageType</key>
    <string>TDMw</string>
    <key>CFBundleSignature</key>
    <string>PTul</string>
    <key>CFBundleShortVersionString</key>
    <string>2.0.6</string>
    <key>CFBundleVersion</key>
    <string>2.0.6</string>
    <key>NSHumanReadableCopyright</key>
    <string></string>
    <key>NSHighResolutionCapable</key>
    <true/>
    <key>AudioComponents</key>
    <array>
      <dict>
        <key>name</key>
        <string>Argotlunar</string>
        <key>description</key>
        <string>Argotlunar</string>
        <key>factoryFunction</key>
        <string>ArgotlunarAUFactory</string>
        <key>manufacturer</key>
        <string>ARG1</string>
        <key>type</key>
        <string>aufx</string>
        <key>subtype</key>
        <string>ARG1</string>
        <key>version</key>
        <integer>131078</integer>
      </dict>
    </array>
  </dict>
</plist>
